.video-wrapper {
  position: relative;
  width: 300px;
}

.video {
  width: 100%;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2d4f2b;
  border: none;
  font-size: 2rem;
  padding: 10px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}
