@font-face {
  font-family: Amiri-Regular;
  src: url("./assets/Amiri/Amiri-Regular.ttf") format("opentype");
}
@font-face {
  font-family: Amiri-Bold;
  src: url("./assets/Amiri/Amiri-Bold.ttf") format("opentype");
}

@font-face {
  font-family: Thuluth-Regular;
  src: url("./assets/amoshref-thulth.ttf") format("opentype");
}

@tailwind utilities;
